.catalogue {
    padding: 89px 0 50px;
    &__title {
        text-align: center;
        margin-bottom: 50px;
    }
    &__nav {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 37px;
    }
    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 10px;
        .product {
            margin-bottom: 35px;
        }
    }
    &__btn {
        display: inline-block;
        font-size: 12px;
        line-height: 30px;
        color: $black;
        opacity: 0.5;
        text-decoration: none;
        &-wrap {
            text-align: center;
        }
    }
}
