// Fonts vars
$Playfair:'Playfair Display', serif;
$Lato:'Lato', sans-serif;

// Colors vars
$red: #fc411d;
$blue: #1578d5;
$black: #333333;
$white: #fff;


// Vars for grid
$mob:'mob';
$mob-p:'mob-p';
$mob-l:'mob-l';
$tam:'tam';
$tab:'tab';
$tab-p:'tab-p';
$tab-l:'tab-l';
$tad:'tad';
$desk:'desk';
$desk-hd:'desk-hd';
$mobile-max: 768px;
$tablet-max: 1200px;
$desktop-max: 1600px;
